@page "/perflogList/{Assembly}/{RequestPath}"
@inherits PerfLogListBase

<h3>PerfLogList</h3>

@if (PerfLogPagedList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-12 row">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Current Page</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationCurrentPage</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Page Size</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationPageSize</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Total Count</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationTotalCount</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Total Pages </label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationTotalPages</label>
            </div>
        </div>

        <select @onchange=@PageSize_Change>
            @foreach (var pageSize in PageSizes)
            {
                <option value=@pageSize.ShowPageSizeValue>@pageSize.ShowPageSizeDescription</option>
            }
        </select>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>TimeStamp</th>
                <th>PerfItem</th>
                <th>ElapsedMilliseconds</th>
                <th>Message</th>
                <th>MachineName</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in PerfLogPagedList.PerfLogs)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.TimeStamp</td>
                    <td>@item.PerfItem</td>
                    <td>@item.ElapsedMilliseconds</td>
                    <td>@item.Message</td>
                    <td>@item.MachineName</td>
                </tr>
            }
        </tbody>
    </table>

    <div>
        @if (PerfLogPagedList.ShowPerviousPageButton)
        {
            <button type="button" class="btn btn-outline-primary" @onclick="PerviousPage">Pervious</button>
        }
        <button type="button" class="btn btn-primary" @onclick="FirstPage"> 1 </button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">2</button>
        <button type="button" class="btn btn-secondary">4</button>
        <button type="button" class="btn btn-secondary" @onclick="LastPage">@PerfLogPagedList.PaginationTotalPages</button>
        @if (PerfLogPagedList.ShowNextPageButton)
        {
            <button type="button" class="btn btn-outline-primary" @onclick="NextPage">Next</button>
        }
        </div>
}