@page "/perflogList/{Assembly}/{RequestPath}"
@inherits PerfLogListBase

<h3>PerfLogList</h3>

@if (PerfLogPagedList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="col-12 row">
        <div class="form-group row">
            <label class="col-sm-4 col-form-label"> Current Page</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationCurrentPage</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Page Size</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationPageSize</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Total Count</label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationTotalCount</label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-4 col-form-label">Pagination Total Pages </label>
            <div class="col-sm-8">
                <label type="text" class="form-control-plaintext">@PerfLogPagedList.PaginationTotalPages</label>
            </div>
        </div>
    </div>



    <div class="row">

        <div class="col-md-4">

            @if (ShowDataAsAList)
            {
                <label type="text">Display performance as a grid</label>
                <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Display performance as a grid" @onclick="ShowDataAs_Click">
                    <i class="fas fa-th"></i>
                </button>
            }
            else
            {
                <label type="text">Display performance as a table</label>
                <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Display performance as a table" @onclick="ShowDataAs_Click">
                    <i class="fas fa-table"></i>
                </button>
            }
        </div>

        <div class="col-md-4">
            <select @onchange=@PageSize_Change>
                @foreach (var pageSize in PageSizes)
                {
                    <option value=@pageSize.ShowPageSizeValue>@pageSize.ShowPageSizeDescription</option>
                }
            </select>
        </div>

        <div class="col-md-4">
            @if (PerfLogPagedList.ShowPerviousPageButton)
            {
                <button type="button" class="btn btn-primary" @onclick="PerviousPage">Pervious</button>
            }
            @if (PerfLogPagedList.ShowFirstPageButton)
            {
                <button type="button" class="btn btn-primary" @onclick="FirstPage"> 1 </button>
                <span>...</span>
            }
            @if (PerfLogPagedList.ShowSecondPageButton)
            {
                <button type="button" class="btn btn-primary" @onclick="PerviousPage">@PerfLogPagedList.PaginationCurrentPageMinusOne</button>
            }

            <button type="button" class="btn btn-outline-primary">@PerfLogPagedList.PaginationCurrentPage</button>

            @if (PerfLogPagedList.ShowPagePlusOneButton)
            {
                <button type="button" class="btn btn-primary" @onclick="NextPage">@PerfLogPagedList.PaginationCurrentPagePlusOne</button>
            }

            @if (PerfLogPagedList.ShowSecondEllipsis)
            {
                <span>...</span>
            }
            @if (PerfLogPagedList.ShowNextPageButton)
            {
                <button type="button" class="btn btn-primary" @onclick="LastPage">@PerfLogPagedList.PaginationTotalPages</button>
                <button type="button" class="btn btn-primary" @onclick="NextPage">Next</button>
            }
        </div>

    </div>



    @if (ShowDataAsAList)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>TimeStamp</th>
                    <th>PerfItem</th>
                    <th>Elapsed Time</th>
                    <th>Message</th>
                    <th>MachineName</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in PerfLogPagedList.PerfLogs)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.TimeStamp</td>
                        <td>@item.PerfItem</td>
                        <td class="text-right">@item.ElapsedMilliseconds</td">
                        <td>@item.Message</td>
                        <td>@item.MachineName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="row">
            @foreach (var item in PerfLogPagedList.PerfLogs)
            {
                <div class="col-md-4 btn btn-primary">
                    <div class="text-left">Id : @item.Id</div>
                    <div class="text-left">Time Stamp : @item.TimeStamp</div>
                    <div class="text-left">Elapsed Milliseconds : @item.ElapsedMilliseconds</div>
                    <div class="text-left">Message : @item.Message</div>
                    <div class="text-left">Machine Name : @item.MachineName</div>
                </div>
            }
        </div>
    }



}
