@inherits DetailLogCommentTableBase

@if (DetailLogComments == null)
{
    <WaitLoading />
}
else
{
    <div class="row">
        <div class="col-md-8">
            <table class="table table-sm">
                <tr>
                    <th>Comment</th>
                    <th>State</th>
                    <th>Dev Ops ID</th>

                    <th>Createad By</th>
                    <th>Create On</th>
                    <th>Updated On</th>
                    <th></th>
                </tr>

                @foreach (var item in DetailLogComments)
                {
                    <tr @key="item">
                        <td>@item.Comment</td>
                        <td>@item.OpenState</td>
                        <td>@item.DevOpsId</td>
                       
                        <td>@item.CreateadBy</td>
                        <td>@item.CreateOn</td>
                        <td>@item.UpdatedOn</td>
                        <td></td>
                    </tr>
                }
            </table>
        </div>
    </div>
}