@inherits PaginationComponentBase

<h3>PaginationComponent</h3>

<div class="row">

    <div class="col-md-4">

        @if (ShowDataAsAListCallback)
        {
            <label type="text">Display performance as a grid</label>
            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Display performance as a grid" @onclick="ShowDataAs_ClickCallback">
                <i class="fas fa-th"></i>
            </button>
        }
        else
        {
            <label type="text">Display performance as a table</label>
            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Display performance as a table" @onclick="ShowDataAs_ClickCallback">
                <i class="fas fa-table"></i>
            </button>
        }
    </div>

    <div class="col-md-4">
        <select @onchange=@PageSize_OnChange>
            @foreach (var pageSize in PageSizes)
            {
                <option value=@pageSize.ShowPageSizeValue>@pageSize.ShowPageSizeDescription</option>
            }
        </select>
    </div>

    <div class="col-md-4">
        @if (PerfLogPagedList.ShowPerviousPageButton)
        {
            <button type="button" class="btn btn-primary" @onclick="PerviousPageCallback">Pervious</button>
        }
        @if (PerfLogPagedList.ShowFirstPageButton)
        {
            <button type="button" class="btn btn-primary" @onclick="FirstPageCallback"> 1 </button>
            <span>...</span>
        }
        @if (PerfLogPagedList.ShowSecondPageButton)
        {
            <button type="button" class="btn btn-primary" @onclick="PerviousPageCallback">@PerfLogPagedList.PaginationCurrentPageMinusOne</button>
        }

        <button type="button" class="btn btn-outline-primary">@PerfLogPagedList.PaginationCurrentPage</button>

        @if (PerfLogPagedList.ShowPagePlusOneButton)
        {
            <button type="button" class="btn btn-primary" @onclick="NextPageCallback">@PerfLogPagedList.PaginationCurrentPagePlusOne</button>
        }

        @if (PerfLogPagedList.ShowSecondEllipsis)
        {
            <span>...</span>
        }
        @if (PerfLogPagedList.ShowNextPageButton)
        {
            <button type="button" class="btn btn-primary" @onclick="LastPageCallback">@PerfLogPagedList.PaginationTotalPages</button>
            <button type="button" class="btn btn-primary" @onclick="NextPageCallback">Next</button>
        }
    </div>
</div>