@inherits PaginationComponentBase

<h3>PaginationComponent</h3>

<div class="row">

    <div class="col-md-3">

        @if (ShowDataAsAListCallback)
        {
            <label type="text">Display performance as a grid</label>
            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Display performance as a grid" @onclick="ShowDataAs_ClickCallback">
                <i class="fas fa-th"></i>
            </button>
        }
        else
        {
            <label type="text">Display performance as a table</label>
            <button type="button" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Display performance as a table" @onclick="ShowDataAs_ClickCallback">
                <i class="fas fa-table"></i>
            </button>
        }
    </div>

    <div class="col-md-3">
        <select @onchange=@PageSize_OnChange>
            @foreach (var pageSize in PageSizes)
            {
                <option value=@pageSize.ShowPageSizeValue>@pageSize.ShowPageSizeDescription</option>
            }
        </select>
    </div>

    <div class="col-md-3">
        @if (OrderByList != null)
        {
            <select @onchange=@OrderBy_OnChange>
                @foreach (var item in OrderByList)
                {
                    <option value=@item.Key>@item.Value</option>
                }
            </select>
        }
    </div>

    <div class="col-md-3">
        @if (PagedList.ShowPerviousPageButton)
        {
            <button type="button" class="btn btn-primary" @onclick="PerviousPageCallback">Pervious</button>
        }
        @if (PagedList.ShowFirstPageButton)
        {
            <button type="button" class="btn btn-primary" @onclick="FirstPageCallback"> 1 </button>
            <span>...</span>
        }
        @if (PagedList.ShowSecondPageButton)
        {
            <button type="button" class="btn btn-primary" @onclick="PerviousPageCallback">@PagedList.PaginationCurrentPageMinusOne</button>
        }

        <button type="button" class="btn btn-outline-primary">@PagedList.PaginationCurrentPage</button>

        @if (PagedList.ShowPagePlusOneButton)
        {
            <button type="button" class="btn btn-primary" @onclick="NextPageCallback">@PagedList.PaginationCurrentPagePlusOne</button>
        }

        @if (PagedList.ShowSecondEllipsis)
        {
            <span>...</span>
        }
        @if (PagedList.ShowNextPageButton)
        {
            <button type="button" class="btn btn-primary" @onclick="LastPageCallback">@PagedList.PaginationTotalPages</button>
            <button type="button" class="btn btn-primary" @onclick="NextPageCallback">Next</button>
        }
    </div>
</div>