@inherits PerfLogPagedListTableBase

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>
                TimeStamp
                <a class="btn" @onclick="ToggleOrderTimeStamp">
                    <i class="fas fa-sort"></i>
                </a>
            </th>
            <th>PerfItem</th>
            <th>
                Elapsed Time
                <a class="btn" @onclick="ToggleOrderElapsedTime">
                    <i class="fas fa-sort"></i>
                </a>
            </th>
            <th>Message</th>
            <th>
                Machine Name
                <a class="btn" @onclick="ToggleOrderMachineName">
                    <i class="fas fa-sort"></i>
                </a>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in PerfLogPagedList.PerfLogs)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.TimeStamp</td>
                <td>@item.PerfItem</td>
                <td class="text-right"> @item.ElapsedMilliseconds </td">
                <td>@item.Message</td>
                <td>@item.MachineName</td>
                <td>
                    <button class="btn btn-primary" @onclick="@(e => DeletePerfLog(e, @item.Id))">
                        <i class="far fa-times-circle"></i>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

<DeleteDialog @ref="DeleteItemDialog"
              CloseEventCallback="@DeletePefLogDialog_OnDialogClose">
</DeleteDialog>